<ol class="breadcrumb">
  <li class="active">Settings</li>
  <li class="active">Account</li>
</ol>
<div class="row">
    <div class="col-xs-12 col-md-4">
        <ul class="list-group">
          <li class="list-group-item">
            {{link-to "Account" "settings.account"}}
          </li>
          <li class="list-group-item">
            {{link-to "Password" "settings.password"}}
          </li>
        </ul>
    </div>
    <div class="col-xs-12 col-md-8">
        <div class="card">
            <div class="row">
                <div class="col-xs-5">
                    <img src="http://placehold.it/250x250" alt="profile image" class="img-rounded">
                </div>
                <div class="col-xs-7 col-xs-center">
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2">
                            <button class="btn btn-primary btn-block">Upload New Avatar</button>
                        </div>
                    </div>
                    <div class="row row-xs-center">
                        <div class="col-xs-8 col-xs-offset-2">
                            <button class="btn btn-secondary m-t btn-block">Delete Avatar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
