<ol class="breadcrumb">
  <li>{{link-to "Topics" "topics"}}</li>
  <li>{{link-to "[Thread Title]" "thread"}}</li>
  <li class="active">[Topic Title]</li>
</ol>
<div class="card">
    <div class="card-block">
        <div class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object img-circle" src="http://placehold.it/45x45" alt="Generic placeholder image">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            <div class="clearfix m-t">
                <button class="btn btn-sm btn-primary pull-right">Reply</button>
                <button class="btn btn-sm btn-secondary pull-right m-r">Report</button>
            </div>
            <div class="media m-t">
              <a class="media-left" href="#">
                <img class="media-object img-circle" src="http://placehold.it/45x45" alt="Generic placeholder image">
              </a>
              <div class="media-body">
                <h4 class="media-heading">Nested media heading</h4>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                <div class="clearfix m-t">
                    <button class="btn btn-sm btn-primary pull-right">Reply</button>
                    <button class="btn btn-sm btn-secondary pull-right m-r">Report</button>
                </div>
              </div>
            </div>
            <div class="media m-t">
              <a class="media-left" href="#">
                <img class="media-object img-circle" src="http://placehold.it/45x45" alt="Generic placeholder image">
              </a>
              <div class="media-body">
                <h4 class="media-heading">Nested media heading</h4>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                <div class="clearfix m-t">
                    <button class="btn btn-sm btn-primary pull-right">Reply</button>
                    <button class="btn btn-sm btn-secondary pull-right m-r">Report</button>
                </div>
              </div>
            </div>
            <div class="media m-t">
              <a class="media-left" href="#">
                <img class="media-object img-circle" src="http://placehold.it/45x45" alt="Generic placeholder image">
              </a>
              <div class="media-body">
                <h4 class="media-heading">Nested media heading</h4>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                <div class="clearfix m-t">
                    <button class="btn btn-sm btn-primary pull-right">Reply</button>
                    <button class="btn btn-sm btn-secondary pull-right m-r">Report</button>
                </div>
              </div>
            </div>
            <div class="media m-t">
              <a class="media-left" href="#">
                <img class="media-object img-circle" src="http://placehold.it/45x45" alt="Generic placeholder image">
              </a>
              <div class="media-body">
                <h4 class="media-heading">Nested media heading</h4>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                <div class="clearfix m-t">
                    <button class="btn btn-sm btn-primary pull-right">Reply</button>
                    <button class="btn btn-sm btn-secondary pull-right m-r">Report</button>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
