<div class="row">
    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
    <button type="button" class="btn btn-primary">Primary</button>

    <!-- Secondary, outline button -->
    <button type="button" class="btn btn-secondary">Secondary</button>

    <!-- Indicates a successful or positive action -->
    <button type="button" class="btn btn-success">Success</button>

    <!-- Indicates caution should be taken with this action -->
    <button type="button" class="btn btn-warning">Warning</button>

    <!-- Indicates a dangerous or potentially negative action -->
    <button type="button" class="btn btn-danger">Danger</button>

    <!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
    <button type="button" class="btn btn-link">Link</button>
    <button type="button" class="m-t btn btn-default btn-block">Block Button</button>
</div>
<div class="m-t row">
    <button type="button" class="btn btn-primary-outline">Primary</button>
    <button type="button" class="btn btn-secondary-outline">Secondary</button>
    <button type="button" class="btn btn-success-outline">Success</button>
    <button type="button" class="btn btn-warning-outline">Warning</button>
    <button type="button" class="btn btn-danger-outline">Danger</button>
</div>
<div class="row m-t">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary">Left</button>
      <button type="button" class="btn btn-secondary">Middle</button>
      <button type="button" class="btn btn-secondary">Right</button>
    </div>
</div>
<div class="row m-t">
    <div class="btn btn-lg btn-primary">Large Button</div>
    <div class="btn btn btn-primary">Standard Button</div>
    <div class="btn btn-sm btn-primary">Small Button</div>
</div>
<div class="m-t row">
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary active">
        <input type="checkbox" checked autocomplete="off"> Checkbox 1 (pre-checked)
      </label>
      <label class="btn btn-primary">
        <input type="checkbox" autocomplete="off"> Checkbox 2
      </label>
      <label class="btn btn-primary">
        <input type="checkbox" autocomplete="off"> Checkbox 3
      </label>
    </div>
</div>
