<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
        <div class="card bg-primary" style="height: 200px;">
            <div class="card-block">
                <h4 class="card-title">Sidebar</h4>
              </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
        <div class="card bg-info" style="height: 200px;">
            <div class="card-block">
                <h4 class="card-title">Main Content</h4>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-4">
        <div class="card bg-success" style="height: 200px;">
            <div class="card-block">
                <h4 class="card-title">Three</h4>
              </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="card bg-success" style="height: 200px;">
            <div class="card-block">
                <h4 class="card-title">Cards</h4>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="card bg-success" style="height: 200px;">
            <div class="card-block">
                <h4 class="card-title">Across</h4>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-3">
        <div class="card bg-danger" style="height: 200px;">
            <div class="card-block">
                <h4 class="card-title">Four</h4>
              </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3">
        <div class="card bg-danger" style="height: 200px;">
            <div class="card-block">
                <h4 class="card-title">Cards</h4>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3">
        <div class="card bg-danger" style="height: 200px;">
            <div class="card-block">
                <h4 class="card-title">Across</h4>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3">
        <div class="card bg-danger" style="height: 200px;">
            <div class="card-block">
                <h4 class="card-title">!!!</h4>
            </div>
        </div>
    </div>
</div>



