<div class="m-y-md">
    <h1>h1. Bootstrap heading</h1>
    <h2>h2. Bootstrap heading</h2>
    <h3>h3. Bootstrap heading</h3>
    <h4>h4. Bootstrap heading</h4>
    <h5>h5. Bootstrap heading</h5>
    <h6>h6. Bootstrap heading</h6>
</div>
<div class="m-y-md">
    <h1 class="display-4">Display 4</h1>
    <h1 class="display-3">Display 3</h1>
    <h1 class="display-2">Display 2</h1>
    <h1 class="display-1">Display 1</h1>
</div>
<div class="m-y-md">
    <h1>Example heading <span class="label label-default">New</span></h1>
    <h2>Example heading <span class="label label-default">New</span></h2>
    <h3>Example heading <span class="label label-default">New</span></h3>
    <h4>Example heading <span class="label label-default">New</span></h4>
    <h5>Example heading <span class="label label-default">New</span></h5>
    <h6>Example heading <span class="label label-default">New</span></h6>
</div>
<div class="m-y-md">
    <span class="label label-default">Default</span>
    <span class="label label-primary">Primary</span>
    <span class="label label-success">Success</span>
    <span class="label label-info">Info</span>
    <span class="label label-warning">Warning</span>
    <span class="label label-danger">Danger</span>
</div>
<div class="m-y-md">
    <div class="card">
        <div class="card-block">
            <pre>
    &lt;div class=&quot;row&quot;&gt;
        &lt;div class=&quot;col-xs-12 col-sm-4 col-md-3 col-lg-2&quot;&gt;
            &lt;div class=&quot;card bg-primary&quot; style=&quot;height: 200px;&quot;&gt;
                &lt;div class=&quot;card-block&quot;&gt;
                    &lt;h4 class=&quot;card-title&quot;&gt;Sidebar&lt;/h4&gt;
                  &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-xs-12 col-sm-8 col-md-9 col-lg-10&quot;&gt;
            &lt;div class=&quot;card bg-info&quot; style=&quot;height: 200px;&quot;&gt;
                &lt;div class=&quot;card-block&quot;&gt;
                    &lt;h4 class=&quot;card-title&quot;&gt;Main Content&lt;/h4&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
            </pre>
        </div>
    </div>
</div>
<div class="m-y-md">
    <div class="card bg-inverse">
        <div class="card-block">
            <pre class="text-inverse">
    &lt;div class=&quot;row&quot;&gt;
        &lt;div class=&quot;col-xs-12 col-sm-4 col-md-3 col-lg-2&quot;&gt;
            &lt;div class=&quot;card bg-primary&quot; style=&quot;height: 200px;&quot;&gt;
                &lt;div class=&quot;card-block&quot;&gt;
                    &lt;h4 class=&quot;card-title&quot;&gt;Sidebar&lt;/h4&gt;
                  &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-xs-12 col-sm-8 col-md-9 col-lg-10&quot;&gt;
            &lt;div class=&quot;card bg-info&quot; style=&quot;height: 200px;&quot;&gt;
                &lt;div class=&quot;card-block&quot;&gt;
                    &lt;h4 class=&quot;card-title&quot;&gt;Main Content&lt;/h4&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
            </pre>
        </div>
    </div>
</div>
