<nav class="navbar navbar-dark bg-inverse">
    {{#link-to 'bootstrap' class="navbar-brand"}}Bootstrap{{/link-to}}
    <ul class="nav navbar-nav">
        <li class="nav-item">
            {{#link-to "bootstrap.grid" class="nav-link"}}Grid{{/link-to}}
        </li>
        <li class="nav-item">
            {{#link-to "bootstrap.media-block" class="nav-link"}}Media Block{{/link-to}}
        </li>
        <li class="nav-item">
            {{#link-to "bootstrap.cards" class="nav-link"}}Cards{{/link-to}}
        </li>
    </ul>
</nav>
<div class="m-t">
    <nav class="navbar navbar-dark bg-primary">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                {{#link-to "bootstrap.type" class="nav-link"}}Text{{/link-to}}
            </li>
            <li class="nav-item">
                {{#link-to "bootstrap.spacing" class="nav-link"}}Spacing{{/link-to}}
            </li>
            <li class="nav-item">
                {{#link-to "bootstrap.utilities" class="nav-link"}}Utilities{{/link-to}}
            </li>
        </ul>
    </nav>
</div>
<div class="m-t">
    <nav class="navbar navbar-dark bg-danger">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                {{#link-to "bootstrap.buttons" class="nav-link"}}Buttons{{/link-to}}
            </li>
            <li class="nav-item">
                {{#link-to "bootstrap.alerts" class="nav-link"}}Alerts{{/link-to}}
            </li>
            <li class="nav-item">
                {{#link-to "bootstrap.forms" class="nav-link"}}Forms{{/link-to}}
            </li>
        </ul>
    </nav>
</div>
<div class="m-t-lg container">
    {{outlet}}
</div>
