<ol class="breadcrumb">
  <li>
      {{link-to 'Courses' 'courses'}}
  </li>
  <li class="active">Course Name</li>
</ol>
<div class="row">
    <div class="col-xs-12 col-md-4">
        <div class="card">
            <div class="card-block">
                <button class="btn btn-primary btn-block">Add Student</button>
            </div>
        </div>
        <div class="card m-t-md">
            <div class="card-block">
                <h4 class="card-title">Callaway Gardens
                    <div><small><em>05/05/15-05/12/15</em></small></div>
                </h4>
            </div>
            <hr>
            <div class="card-block">
                <div class="row row-xs-center">
                    <h4 class="card-title m-l">Course Material</h4>
                </div>
                <div class="row row-xs-center">
                    <a href="#" class="m-x">Link</a>
                </div>
                <div class="row row-xs-center">
                    <a href="#" class="m-x">Link</a>
                </div>
                <div class="row row-xs-center">
                    <a href="#" class="m-x">Link</a>
                </div>
                <div class="row row-xs-center">
                    <a href="#" class="m-x">Link</a>
                </div>
                <hr>
                <div class="row row-xs-center">
                    <a href="#" class="m-x">Link</a>
                </div>
                <div class="row row-xs-center">
                    <a href="#" class="m-x">Link</a>
                </div>
                <div class="row row-xs-center">
                    <a href="#" class="m-x">Link</a>
                </div>
                <div class="row row-xs-center">
                    <a href="#" class="m-x">Link</a>
                </div>
            </div>
        </div>
        <div class="card m-t-md">
            <div class="card-block">
                <div class="row row-xs-center">
                    <h4 class="card-title m-l">Instructor</h4>
                </div>
                <div class="row row-xs-center">
                    <img src="http://placehold.it/30x30" alt="avatar image" class="img-circle m-l">
                    <a href="#" class="btn btn-link">Link</a>
                </div>
                <div class="row row-xs-center m-t">
                    <h4 class="card-title m-l">Students</h4>
                </div>
                <div class="row row-xs-center">
                    <img src="http://placehold.it/30x30" alt="avatar image" class="img-circle m-l">
                    <a href="#" class="btn btn-link">Link</a>
                </div>
                <div class="row row-xs-center">
                    <img src="http://placehold.it/30x30" alt="avatar image" class="img-circle m-l">
                    <a href="#" class="btn btn-link">Link</a>
                </div>
                <div class="row row-xs-center">
                    <img src="http://placehold.it/30x30" alt="avatar image" class="img-circle m-l">
                    <a href="#" class="btn btn-link">Link</a>
                </div>
                <div class="row row-xs-center">
                    <img src="http://placehold.it/30x30" alt="avatar image" class="img-circle m-l">
                    <a href="#" class="btn btn-link">Link</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-8">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">New Post</h4>
                <fieldset class="form-group">
                    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                </fieldset>
                <div class="clearfix">
                    <div class="pull-left">
                        <button class="btn btn-primary">MD</button>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-primary">Post</button>
                    </div>
                </div>
            </div>
        </div>
        <h3 class="m-t-md">Recent Posts</h3>
        <div class="card">
            <div class="card-block">
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object img-circle" src="http://placehold.it/45x45" alt="Generic placeholder image">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">Media heading</h4>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    <div class="clearfix m-t">
                        <button class="btn btn-sm btn-primary pull-right">Reply</button>
                        <button class="btn btn-sm btn-secondary pull-right m-r">Report</button>
                    </div>
                    <div class="media m-t">
                      <a class="media-left" href="#">
                        <img class="media-object img-circle" src="http://placehold.it/45x45" alt="Generic placeholder image">
                      </a>
                      <div class="media-body">
                        <h4 class="media-heading">Nested media heading</h4>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        <div class="clearfix m-t">
                            <button class="btn btn-sm btn-primary pull-right">Reply</button>
                            <button class="btn btn-sm btn-secondary pull-right m-r">Report</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="media">
                  <a class="media-left" href="#">
                    <img class="media-object img-circle" src="http://placehold.it/45x45" alt="Generic placeholder image">
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading">Media heading</h4>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    <div class="clearfix m-t">
                        <button class="btn btn-sm btn-primary pull-right">Reply</button>
                        <button class="btn btn-sm btn-secondary pull-right m-r">Report</button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="card m-t-md">
            <div class="card-block">
                <div class="media">
                  <a class="media-left" href="#">
                    <img class="media-object img-circle" src="http://placehold.it/45x45" alt="Generic placeholder image">
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading">Media heading</h4>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    <div class="clearfix m-t">
                        <button class="btn btn-sm btn-primary pull-right">Reply</button>
                        <button class="btn btn-sm btn-secondary pull-right m-r">Report</button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
