<ol class="breadcrumb">
  <li class="active">Topics</li>
</ol>
<div class="row">
    <div class="col-xs-12 col-md-4">
        <form action="">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button">Go!</button>
              </span>
            </div>
        </form>
        <div class="card m-t-md">
            <div class="card-block">
                <div class="row row-xs-center">
                    <h4 class="card-title m-l">Respected Elders</h4>
                </div>
                <div class="row row-xs-center">
                    <img src="http://placehold.it/30x30" alt="avatar image" class="img-circle m-l">
                    <a href="#" class="btn btn-link">Link</a>
                </div>
                <div class="row row-xs-center">
                    <img src="http://placehold.it/30x30" alt="avatar image" class="img-circle m-l">
                    <a href="#" class="btn btn-link">Link</a>
                </div>
                <div class="row row-xs-center">
                    <img src="http://placehold.it/30x30" alt="avatar image" class="img-circle m-l">
                    <a href="#" class="btn btn-link">Link</a>
                </div>
                <div class="row row-xs-center">
                    <img src="http://placehold.it/30x30" alt="avatar image" class="img-circle m-l">
                    <a href="#" class="btn btn-link">Link</a>
                </div>
                <div class="row row-xs-center">
                    <img src="http://placehold.it/30x30" alt="avatar image" class="img-circle m-l">
                    <a href="#" class="btn btn-link">Link</a>
                </div>
            </div>
        </div>
        <div class="card m-t-md">
            <div class="card-block">
                <div class="row row-xs-center">
                    <h4 class="card-title m-l">Related Links</h4>
                </div>
                <div class="row row-xs-center">
                    <a href="#" class="m-l">Link</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-8">
        <ul class="list-group">
          <li class="list-group-item p-y-sm">
            <div class="row row-xs-center">
                <div class="col-xs-12 col-sm-9">
                    {{#link-to 'thread' class="h4"}}Topic Thread Title{{/link-to}}
                </div>
                <div class="col-xs-12 col-sm-3">
                    {{#link-to 'thread' class="btn btn-primary btn-block"}}Subscribe{{/link-to}}
                </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row row-xs-center">
                <div class="col-xs-12 col-sm-9">
                    {{#link-to 'thread' class="h4"}}Topic Thread Title{{/link-to}}
                </div>
                <div class="col-xs-12 col-sm-3">
                    {{#link-to 'thread' class="btn btn-primary btn-block"}}Subscribe{{/link-to}}
                </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row row-xs-center">
                <div class="col-xs-12 col-sm-9">
                    {{#link-to 'thread' class="h4"}}Topic Thread Title{{/link-to}}
                </div>
                <div class="col-xs-12 col-sm-3">
                    {{#link-to 'thread' class="btn btn-primary btn-block"}}Subscribe{{/link-to}}
                </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row row-xs-center">
                <div class="col-xs-12 col-sm-9">
                    {{#link-to 'thread' class="h4"}}Topic Thread Title{{/link-to}}
                </div>
                <div class="col-xs-12 col-sm-3">
                    {{#link-to 'thread' class="btn btn-primary btn-block"}}Subscribe{{/link-to}}
                </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row row-xs-center">
                <div class="col-xs-12 col-sm-9">
                    {{#link-to 'thread' class="h4"}}Topic Thread Title{{/link-to}}
                </div>
                <div class="col-xs-12 col-sm-3">
                    {{#link-to 'thread' class="btn btn-primary btn-block"}}Subscribe{{/link-to}}
                </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row row-xs-center">
                <div class="col-xs-12 col-sm-9">
                    {{#link-to 'thread' class="h4"}}Topic Thread Title{{/link-to}}
                </div>
                <div class="col-xs-12 col-sm-3">
                    {{#link-to 'thread' class="btn btn-secondary btn-block"}}Unsubscribe{{/link-to}}
                </div>
            </div>
          </li>
        </ul>
    </div>
</div>

